<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register</title>
</head>
<body class="bg-gray-100 min-h-screen">
    <% if session[:message1] %>
        <div class="absolute bg-red-500 text-white p-4 text-center rounded shadow-md top-20 left-1">
            <%= session[:message1] %>
        </div>
    <% end %>
    <header class="bg-gray-800 text-white p-4">
        <h1 class="text-2xl font-bold text-center">Register</h1>
    </header>
    <main class="flex items-center justify-center my-20">
        <form class="bg-white p-6 rounded shadow-md" action="/register" method="post">
            <label class="block mb-2" for="username">Username:</label>
            <input class="border border-gray-300 rounded px-3 py-2 w-full outline-none focus:ring-2 focus:ring-blue-500" type="text" id="username" name="username" required>
            <br>
            <label class="block mb-2 mt-4" for="password">Password:</label>
            <input class="border border-gray-300 rounded px-3 py-2 w-full outline-none focus:ring-2 focus:ring-blue-500" type="password" id="password" name="password" required>
            <br>
            <div class="flex justify-center w-full">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" type="submit">Register</button>
            </div>
            <label class="block mt-4 text-center text-sm" for="register">Already have an account?</label>
            <div class="flex justify-center w-full">
                <a class="text-blue-500 hover:text-blue-700 font-bold" href="/login">Login now</a>
            </div>
        </form>
    </main>
</body>
</html>